Problem statement 5:
Perform the following operations on any open-source dataset (e.g., data.csv)
1. Provide summary statistics (mean, median, minimum, maximum, standard deviation) for a
dataset (age, income etc.) with numeric variables grouped by one of the qualitative (categorical)
variable. For example, if your categorical variable is age groups and quantitative variable is
income, then provide summary statistics of income grouped by the age groups. Create a list that
contains a numeric value for each response to the categorical variable.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('StudentPerformance.csv')
df.head(5)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72.0,72.0,74.0
1,female,group C,some college,standard,completed,69.0,90.0,88.0
2,female,group B,master's degree,standard,none,90.0,95.0,93.0
3,male,group A,associate's degree,free/reduced,none,47.0,57.0,44.0
4,male,group C,some college,standard,none,76.0,78.0,75.0

In [3]:
df.isnull().sum()

gender                          0
race/ethnicity                  0
parental level of education     0
lunch                           0
test preparation course         0
math score                     10
reading score                  15
writing score                  11
dtype: int64

In [4]:
scores = ['math score','reading score','writing score']
for score in scores:
    df[score].fillna(df[score].mean() , inplace = True)

In [5]:
df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

In [12]:
df['gender'].unique()

array(['female', 'male', 'f'], dtype=object)

In [13]:
df['gender'].replace('f','female',inplace=True)
df['gender'].unique()

array(['female', 'male'], dtype=object)

In [14]:
summary_stats=df.groupby('gender')['math score'].agg(["mean","median","std","min","max"])
summary_stats

             mean  median        std   min    max
gender
female  63.735198    65.0  15.359470   0.0  100.0
male    68.865661    69.0  14.206238  27.0  100.0

In [19]:
# taking Race as categorical variable and scores as indepedent variable
scores = ['math score' ,  'reading score' , 'writing score']
for score in scores:
    summary_stats=df.groupby('race/ethnicity')[score].agg(['mean','median','std','min','max'])
    print("---- " , score , " ----") 
    print(summary_stats)
    print("\n")

----  math score  ----
                     mean  median        std   min    max
race/ethnicity
group A         61.629213    61.0  14.523008  28.0  100.0
group B         63.735960    64.0  15.109697   8.0   97.0
group C         64.474659    65.0  14.849018   0.0   98.0
group D         67.598597    68.5  13.509842  26.0  100.0
group E         73.821429    74.5  15.534259  30.0  100.0


----  reading score  ----
                     mean  median        std   min    max
race/ethnicity
group A         64.879348    64.0  15.481612  23.0  100.0
group B         67.493609    67.5  15.045971  24.0   97.0
group C         69.192193    71.0  13.932966  17.0  100.0
group D         70.115686    70.0  13.826403  31.0  100.0
group E         73.009014    74.0  14.877186  26.0  100.0


----  writing score  ----
                     mean     median        std   min    max
race/ethnicity
group A         62.900478  63.000000  15.398334  19.0   97.0
group B         65.796238  67.000000  15.493008  15.0   96.0
group C         67.939092  68.142568  14.886246  10.0  100.0
group D         70.116136  71.500000  14.357346  32.0  100.0
group E         71.429590  72.000000  15.106654  22.0  100.0

Problem statement 6:
Write a Python program to display some basic statistical details like percentile, mean, standard
deviation etc. of the species of ‘Iris-setosa’, ‘Iris-versicolor’ and ‘Iris- verginica’ of iris.csv
dataset. Grouped by one of the qualitative (categorical) variable from the dataset

In [21]:
df1=pd.read_csv('Iris.csv')
df1.head(3)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa

In [22]:
df1.shape

(150, 6)

In [23]:
id_intervals=[0,50,100,150]
id_label=['0-50','51-100','101-150']

In [24]:
df1['id_group'] = pd.cut(df1['Id'] , bins = id_intervals , labels = id_label , right = False)

summary_stats = df1.groupby("id_group")['SepalLengthCm'].agg(['mean' , 'median' , 'min' , 'max' , 'std'])

summary_stats

              mean  median  min  max       std
id_group
0-50      5.006122     5.0  4.3  5.8  0.356141
51-100    5.922000     5.9  4.9  7.0  0.531954
101-150   6.584000     6.5  4.9  7.9  0.640905

In [33]:
#Mean:
def mean(df):
    return sum(df)/len(df)

In [35]:
#std
import math
def std(df):
    sm=0
    for i in range(len(df)):
        sm+=df[i]
        mean=sm/len(df)
        
        deviation_sum=0
        for i in range(len(df)):
            deviation_sum+=(data[i]- mean)**2
            psd = math.sqrt((deviation_sum)/len(data))
    return psd

In [36]:
#mode
from collections import Counter
def mode(data):
    c=Counter(data)
    return[k for k,v in c.items() if v==c.most_common(1)[0][1]]