Problem statement 8:
1. Implement logisticregression using Python /R to perform classification on a given
dataset.
2. Compute Confusion Matrix of findTP,FP,TN,FN,Accuracy, Error Rate, Precision,Recall on the
given dataset

In [16]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix , accuracy_score , precision_score , recall_score
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [17]:
data = pd.read_csv("SocialNetworkAdds.csv")
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [18]:
label_encoder = LabelEncoder()
data['Gender'] = label_encoder.fit_transform(data['Gender'])

In [19]:
X = data.drop('Purchased' , axis = 1)
y = data['Purchased']

In [20]:
X_train , X_test , y_train , y_test = train_test_split(X , y ,train_size=0.8 , random_state=42)

In [21]:
model = LogisticRegression()
model.fit(X_train , y_train)
y_pred = model.predict(X_test)
y_pred

array([0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0], dtype=int64)

In [25]:
print("confusion_matrix : ")
confusion = confusion_matrix(y_pred , y_test)
confusion

confusion_matrix :

array([[49, 18],
       [ 3, 10]], dtype=int64)

In [26]:
print("accuracy_score : " , accuracy_score(y_test , y_pred))
print("precision_score : ", precision_score(y_test , y_pred))
print("recall_score : " , recall_score(y_test , y_pred))
print("error_score : " ,1 - accuracy_score(y_test , y_pred))

accuracy_score :  0.7375
precision_score :  0.7692307692307693
recall_score :  0.35714285714285715
error_score :  0.26249999999999996

In [27]:
tn, fp, fn, tp = confusion.ravel()

print("True Negetive : " , tn)
print("false positve : " , fp)
print("false Negetive : " , fn)
print("True positive : " , tp)

True Negetive :  49
false positve :  18
false Negetive :  3
True positive :  10