Problem statement 9:
1. Implement naive bayes classification algorithm using Python /R to perform classification
on a given dataset.
2. Compute Confusion Matrix of findTP,FP,TN,FN,Accuracy, Error Rate, Precision,Recall on the
given dataset

In [15]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score
from sklearn.naive_bayes import GaussianNB

In [16]:
df=pd.read_csv('Iris.csv')
df.head(5)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [17]:
label_encoder=LabelEncoder()
df['Species']=label_encoder.fit_transform(df['Species'])

In [18]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [19]:
X = df.drop(['Id' , 'Species'] , axis = 1)
y = df['Species']

In [20]:
X_train, X_test, y_train, y_test =train_test_split(X, y, train_size=0.8, random_state=42)

In [21]:
model=GaussianNB()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [22]:
confusion=confusion_matrix(y_test, y_pred)
confusion

array([[10,  0,  0],
       [ 0,  9,  0],
       [ 0,  0, 11]], dtype=int64)

In [23]:
accuracy_score= accuracy_score(y_test, y_pred)
error_score = 1 - accuracy_score

In [24]:
print('Accuracy_score: ',accuracy_score)

Accuracy_score:  1.0